---
// Author Bio Component
// Minimal author information display
---

<div class="author-bio">
  <span class="author-name">Zzhri</span>
</div>

<style>
  .author-bio {
    margin-top: 2rem;
    text-align: center;
  }

  .author-name {
    font-size: 0.875rem;
    color: var(--text-secondary);
    opacity: 0.75;
  }

  @media (max-width: 600px) {
    .author-bio {
      margin-top: 1.5rem;
    }

    .author-name {
      font-size: 0.8rem;
    }
  }
</style>